<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <!-- 根据输入进行数组过滤 -->

        <ul>
            <li v-for="(person, index) in personDispaly" :key="person.id">
                {{person.name}} -- {{person.age}}--{{person.gender}}
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false;

        const vm = new Vue({
            el: "#root",
            data: {
                keyWord: '',
                personList:[
                    {
                        id: '001', 
                        name: '马冬梅',
                        gender: '女',
                        age: 12 
                    },
                    {
                        id: '002',
                        name: '周冬雨',
                        gender: '女',
                        age: 13
                    },
                    {
                        id: '003',
                        name: '周杰伦',
                        gender: '男',
                        age: 19
                    },
                    {
                        id: '004',
                        name: '温兆伦',
                        gender: '男',
                        age: 19
                    }
                ],
                personDispaly: []
            },
            watch: {
                keyWord:{
                    immediate: true,/* ！important */
                    handler(newValue, oldValue){
                        /* filter返回一个全新的数组 */
                        /* 'abcda'.indexof('') => 0 */
                        this.personDispaly = this.personList.filter((p)=>{
                            return p.name.indexOf(newValue) !== -1;
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>