
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收集表单数据</title>
    <script src="../vue.js"></script>
    <style>
        #inputform{
            width: 500px;
            border: 2px solid black;
            height: 500px;
            margin: 10px auto;
            padding: 90px;
        }
    </style>
</head>
<body>

    <div id="root">
        <form @submit.prevent="demo" id="inputform">
            <label for="username">账号：</label>
            <input type="text" id="username" v-model.trim="userInfo.account" > 
            <!-- 去空格 trim -->
            <br><br>
            <label for="password">密码：</label>
            <input type="password" id="password" v-model="userInfo.password"> 
            <br><br>

            性别：
            男<input type="radio" name="sex" value="male" v-model="userInfo.sex">
            女<input type="radio" name="sex" value="female" v-model="userInfo.sex">
            <br><br>

            年龄：
            <input type="number" v-model.number="userInfo.age">
            <br><br>

            爱好：
            学习<input type="checkbox"  name="hobby" value="study" v-model="userInfo.hobby">
            打游戏<input type="checkbox"  name="hobby" value="playgame" v-model="userInfo.hobby">
            吃饭<input type="checkbox"  name="hobby" value="eat" v-model="userInfo.hobby">
            <br><br>

            所属校区：
            <select v-model="userInfo.city">
                <option value="">请选择校区</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="zhejiang">浙江</option>
            </select>
            <br><br>

            其他信息：
            <!-- 懒加载 lazy -->
            <textarea v-model.lazy="userInfo.other" cols="30" rows="10"></textarea>
            <br><br>

            <input type="checkbox" v-model="userInfo.agree">
            阅读并接受<a href="http://www.atguigu.com">《用户协议》</a>
            <br><br>

            <button>提交</button>

        </form>
    </div>

    <script>
        Vue.config.productionTip = false;

        const vm = new Vue({
            el: "#root",
            data: {
                userInfo:{
                    account: '',
                    password: '',
                    sex: '',
                    age: 18,
                    hobby: [],
                    city: 'beijing',
                    other: '',
                    agree: ''
                }
            },
            methods: {
                demo(){
                    // console.log(JSON.stringify(this._data));
                    console.log(JSON.stringify(this.userInfo));
                }
            },
        })
    </script>
</body>
</html>